<div class="backdrop"></div>
<header class="main-header">
    <button id="side-menu-toggle">Menu</button>
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a class="<%= path === '/people' ? 'active' : '' %>" href="/people">
                  <img src="/images/shrub.png" width="40" height="40">
                </a>
            </li>
        </ul>
    </nav>
</header>
