<%- include('includes/head.ejs') %>
</head>

<body>
  <div align="center">
    <%- include('includes/navigation.ejs') %>
    <img src='https://cdn2.iconfinder.com/data/icons/trees-plants/64/144_plant-bush-shrub-garden-512.png' alt='shrubs rock!'>
    <h1>Welcome to your shrub!</h1>
  </div>
<%- include('includes/end.ejs') %>