.person-form {
  width: 20rem;
  max-width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.person-item {
    max-width: 30rem;
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.person__name {
    float: left;
    font-size: 0.2rem;
    text-align: center;
}

.person__birthdate {
    float: left;
    font-size: 0.2rem;
    text-align: center;
}

.person__description {
    float: right;
    text-align: center;
}